*.db
.metadata/*
./P4/HPC-H
./P4/TPC-H.db
./P2/TPC-H.db
./.git/objects/86/84a034f4eb79f43b5c3c93ff876cc7ebe63913
./P4/TPC-H.db
./P2/TPC-H.db
./.git/objects/c6/644502376f0dcf261d580fe3bde0123cc0b8bd
./.git/objects/86/84a034f4eb79f43b5c3c93ff876cc7ebe63913
./P4/*./P4/TPC-H.db
./P4/Assignment4Notebook.ipynb
./P4/.ipynb_checkpoints/Assignment4Notebook-checkpoint.ipynb
./P3/cmake-build-debug/b_tree
./P3/cmake-build-debug/b_tree.dSYM/Contents/Resources/DWARF/b_tree
./P2/TPC-H.db
./P2/sqlite-snapshot-201909211731/sqlite3.c
./P1/wrnpc.txt
./P3_2/cmake-build-debug/b_tree
./P3_2/cmake-build-debug/b_tree.exe
./P3_2/cmake-build-debug/b_tree.dSYM/Contents/Resources/DWARF/b_tree
./.git/objects/56/20ef494c5a4bc3f540bbb0cc247f3a6d9c7647
./.git/objects/c6/644502376f0dcf261d580fe3bde0123cc0b8bd
./.git/objects/86/84a034f4eb79f43b5c3c93ff876cc7ebe63913
./.git/objects/22/dedb4615fa28e02e4c255fc854a501bb4f63e7
